<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.wechatproject.dao.UserDAO">

	<!-- 查询所有记录 -->
	<select id="getAllUser" resultType="User" resultMap="UserMap">
		select * from USER
	</select>

	<resultMap type="com.hz.wechatproject.pojo.User" id="UserMap">
		<id column="USER_ID" property="userId" />
		<result column="USER_NAME" property="userName" />
		<result column="USER_PASSWD" property="userPasswd" />
	</resultMap>

	<!-- <insert id="getAllUser" parameterType="User" keyProperty="id"> insert 
		into days_user( state, nickname) values ( #{state}, #{nickname}) </insert> -->


</mapper>